:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #031838;
  color: white;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}


/* ///////////     ACCUEIL           //////////////// */

#intro {
  background: url("/front/src/first.jpg");/*url("images/overlay.png"), url("../../images/first.jpg"); */
  width: 100%;
  height: 100%;
  background-repeat: repeat, no-repeat;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: #98c593;
  border: 0;
  border-radius: 3.5em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
}

  input[type="button"].down,
  input[type="submit"].down,
  input[type="reset"].down,
  .button.down,
  button.down {
    width: 5em;
    height: 5em;
    line-height: 4.5em;
    padding: 0;
    background-image: url("images/dark-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -10em;
    overflow: hidden;
  }

    input[type="button"].down.anchored,
    input[type="submit"].down.anchored,
    input[type="reset"].down.anchored,
    .button.down.anchored,
    button.down.anchored {
      bottom: 0;
      border-bottom: 0;
      border-radius: 3em 3em 0 0;
      height: 4.5em;
      margin-left: -2.5em;
    }

  input[type="button"].anchored,
  input[type="submit"].anchored,
  input[type="reset"].anchored,
  .button.anchored,
  button.anchored {
    position: absolute;
    left: 50%;
  }

  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  .button:hover,
  button:hover {
    background-color: #a8cea4;
  }

  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  .button:active,
  button:active {
    background-color: #88bc82;
  }

  input[type="button"].style2,
  input[type="submit"].style2,
  input[type="reset"].style2,
  .button.style2,
  button.style2 {
    background-color: transparent;
    border: solid 2px #e5e6e7;
    color: inherit;
  }

    input[type="button"].style2:hover,
    input[type="submit"].style2:hover,
    input[type="reset"].style2:hover,
    .button.style2:hover,
    button.style2:hover {
      background-color: rgba(229, 230, 231, 0.25);
    }

    input[type="button"].style2:active,
    input[type="submit"].style2:active,
    input[type="reset"].style2:active,
    .button.style2:active,
    button.style2:active {
      background-color: rgba(229, 230, 231, 0.375);
    }

    input[type="button"].style2.down,
    input[type="submit"].style2.down,
    input[type="reset"].style2.down,
    .button.style2.down,
    button.style2.down {
      background-image: url("images/arrow.svg");
    }

/*    2iem page accueil! */

#one {
  background: url("/front/src/one.jpg");
  background-size: 256px 256px, cover;
  background-attachment: fixed, fixed;
  background-position: top left, center center;
}

